*{
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer{
    max-width: 900px;
    margin: 40px auto;
    background-color: red;
}

header .headerContainer img{
    width: 150px;
}



.container{
    display: flex;
    max-width: 900px;
   
    margin: 0 auto;
}

.container .left{
    flex: 1;
    background-color: blue;
    margin-right: 40px;
}

.container .right{
    flex: 1;
    background-color: green;
    margin-left: 40px;
}