*{
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer{
    max-width: 900px;
    margin: 40px auto;
    
}

header .headerContainer img{
    width: 150px;
}



.container{
    display: flex;
    max-width: 900px;
   
    margin: 0 auto;
}

.container .left{
    flex: 1;

    margin-right: 40px;
}


.container .left h1{
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;

}

.container .left p{
    font-size: 16px;
    margin-bottom: 40px;
    color: #6a7d8b;
}


.container .left input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150,163, 171, 0.5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;

}

.container .left button{

    background-color: #227c9d;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease .3s;

}

.container .left button:hover{
    background-color: #23647c;
  
}



.container .right{
    flex: 1;
    margin-left: 40px;
    display: flex;
}

.container .right .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}


.container .right .rightBig{
    flex: 1;
    display: flex;
  
    align-items: center;
    justify-content: center;

}


