*{
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer{
    max-width: 900px;
    margin: 40px auto;
    
}

header .headerContainer img{
    width: 150px;
}



.container{
    display: flex;
    max-width: 900px;
   
    margin: 0 auto;
}

.container .left{
    flex: 1;

    margin-right: 40px;
}

.container .right{
    flex: 1;

    margin-left: 40px;
}